<div class="card col-md-3 bg-dark">
    <div class="card-body">
        <p class="lead text-muted">Esta seguro que desea eliminar esta region</p>
        <h5 class="card-title">{{region.name}}</h5>
        <form class="form-inline" action="/delete-regions" method="post">
            <input type="hidden" name="regionId" value="{{region.Id}}" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="/regions" type="button" class="btn btn-warning">volver atras</a>

        </form>
    </div>
</div>